header {
    background-color: #368ee0;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px; 
}

#title-header {
    background-color: #368ee0;
    color: white;
    padding: 20px;
    margin: 0;
}

input[type='text'] {
    border: none;
    background-color: inherit;
    width: 100%;
}

table {
    table-layout: fixed;
}

td, th {
    overflow: auto;
}

textarea {
    width: 100%;
}
/*.textarea-col {
    width: 67%;
}*/