.affix {
  top: 0;
}

audio {
  width: 95%;
}

#score {
  overflow: hidden;
}

header {
  background-color: #368ee0;
  color: white;
}

#title, #guide, #score{
  border: 2px solid #368ee0;
  margin-bottom: 20px;
}

#title header {
  padding: 20px;
  margin-bottom: 10px;
}

#title p {
  padding: 10px;
}

#guide header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

#score header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}


.show-hide-text {
    padding: 10px;
    line-height: 20px;
    margin: 0;
}

.show-hide-text.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.show-hide-text.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.guide-text {
  padding: 10px;
}