#title {
  border: 2px solid #6f5499;
  margin-bottom: 20px;
}

#title header {
  padding: 20px;
  margin-bottom: 10px;
  color: white;
  background-color: #6f5499;
}

#title p {
  padding: 10px;
}

#guide {
  border: 2px solid #368ee0;
}

#guide header {
  background-color: #368ee0;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

#summary {
  border: 2px solid #e63a3a;
  margin-bottom: 20px;
}

#summary header {
  background-color: #e63a3a;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

#summary p {
  padding: 10px;
}

#score {
  border: 2px solid #339933;
}

#score header {
  background-color: #339933;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}


.show-hide-text {
    padding: 10px;
    line-height: 20px;
    margin: 0;
}

.show-hide-text.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.show-hide-text.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}