<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create Guide - Aria</title>
	<link href="/static/assets/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/create-guide.css" rel="stylesheet">
</head>
<body>
	{% include 'navbar.html' %}
	<!--
		TODO: need to add controls to asynchronously upload an audio file.
	-->
	<div class="container-fluid">
		<header id="title-header"><h1 class="text-center">Create Guide</h1></header>
		<form method="post" enctype="multipart/form-data" action="submit/">
		{% csrf_token %}
			<div class="row">
				<div class="col-sm-12">
					<h2>Step 1: Write a summary</h2>
					<textarea autocomplete="off" rows="10" spellcheck="true" placeholder="Tell us why this piece is great!"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h2>Step 2: Upload your audio file</h2>
					<input type="file" accept="audio/*">
				</div>
				<div class="col-sm-6">
					<h2>Step 3: Upload score</h2>
					<input type="file" accept=".pdf">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<header>
						<h2>Step 4: Add page turns</h2>
					</header>
					<!-- <ul class="nav nav-tabs">
						<li class="active"><a href="#">Page Data</a></li>
						<li><a href="#">Guide Data</a></li>
					</ul> -->
					<div id="page-data" class="table-responsive">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>Page Number</th>
									<th>Starting Time (inclusive)</th>
									<th>Ending Time (noninclusive)</th>
								</tr>
							</thead>
							<tbody>
								<form>
									<tr>
										<td>1</td>
										<td>0:00</td>
										<td><input type="text" value="0:30"></td>
									</tr>
								</form>
							</tbody>
						</table>
						<p class="text-center">
							<button type="button" class="btn btn-success" id="page-add-row-btn">Add new row</button>
							<button type="button" class="btn btn-danger" id="page-remove-row-btn">Delete last row</button>
						</p>
					</div>
					
				</div>
				<div class="col-sm-8">
					<header>
						<h2>Step 5: Add guide text</h2>
					</header>
					<div id="guide-data" class="table-responsive">
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>Guide Text</th>
									<th>Starting Time (inclusive)</th>
									<th class="textarea-col">Ending Time (noninclusive)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="textarea-col">
										<textarea autocomplete="off" spellcheck="true" placeholder="Tell us what's going on during this interval!"></textarea>
									</td>
									<td><input type="text" value="0:00"></td>
									<td><input type="text" value="0:30"></td>
									
								</tr>
							</tbody>
						</table>
						<p class="text-center">
							<button type="button" class="btn btn-success" id="guide-add-row-btn">Add new row</button>
							<button type="button" class="btn btn-danger" id="guide-remove-row-btn">Delete last row</button>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="text-center">
						<input type="submit" value="Submit Guide" class="btn btn-primary">
					</div>
				</div>
			</div>
		</form>
	</div>
	<script src="/static/assets/jquery-2.1.1.min.js"></script>
	<script src="/static/assets/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
	<script src="/static/js/createGuide.js"></script>
</body>
</html>